@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway&display=swap');

* {
    font-family: 'Raleway', sans-serif;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0;
    height: 100%;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

h1 {
    font-family: 'Montserrat', sans-serif;
}

header {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 55px;
    width: 100%;
    z-index: 10;
    padding: 0px;
    margin: 0px;
    background-color: #424242;
    overflow: visible;
}

#logo {
    position: relative;
    top: 0px;
    height: 55px;
    display: inline-block;
    
}

#logo h1 {
    margin: 10px;
}

#logo a {
    color: white;
    text-decoration: none;
}

nav {
    position: absolute;
    right: 0px;
    top: 0px;
    height: 55px;
    padding: 0px;
    margin: 0px;
}

nav ul {
    margin-top: 0px;
    padding-left: 10px;
}

nav li {
    display: inline-block;
    height: 55px;
    line-height: 55px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.2em;
    list-style-type: none;
}

nav a {
    color: white;
    text-decoration: none;
}


.content {
    max-width: 1400px;
    margin: auto;
    width: 90%;
    position: relative;
}

.main {
    margin-top: 100px;
}

main {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

main>* {
    margin: 5px;
}

.banner {
    position: relative;
    border-top: 5px #424242;
    border-bottom: 5px #424242;
}

.banner img {
    width: 100%;
}

.article-box {
    display: flex;
    flex-wrap: wrap;
}

article {
    position: relative;
    flex: 1 1 280px;
    padding: 5px;
}

article img {
    width: calc(100% - 4px);
    border: 2px solid black;
}

.categories {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
}

.categories ul {
    padding-top: 80px;
}

.categories li {
    list-style-type: none;
    font-size: 2em;
    padding-top: 20px;
    padding-bottom: 20px;

}

.categories a {
    color: black;
    text-decoration: none;
}

.track {
    width: 500px;
}

.track img {
    width: 100%;
}