<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vivy</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <div class="content">
            <div id="logo">
                <h1>Logo</h1>
            </div>

            <nav>
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">Library</a></li>
                    <li><a href="">Login</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main class="content main">
        <div>
            <div class="banner">
                <img src="/static/images/banner.jpg" alt="">
            </div>

            <div class="article-box">
                <article>
                    <a href="">
                        <img src="/static/images/jk_op.jpg" alt="vivy">
                    </a>
                </article>
                <article>
                    <a href="">
                        <img src="/static/images/gunjou.jpg" alt="gunjou">
                    </a>
                </article>
                <article>
                    <a href="">
                        <img src="/static/images/tabun.jpg" alt="tabun">
                    </a>
                </article>
                
            </div>
        </div>
    </main>
</body>
</html>