<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vivy</title>
    <link rel="stylesheet" href="/static/style.css">

    <!-- Import Vue -->
    <!-- development version, includes helpful console warnings -->
    <script src="https://unpkg.com/vue@3.0.5/dist/vue.global.js"></script>
    <script src="https://unpkg.com/vue-router@4"></script>
    
</head>
<body>
    <header>
        <div class="content">
            <div id="logo">
                <h1><a href="">Logo</a></h1>
            </div>
            <nav>
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="/templates/library.html">Library</a></li>
                    <li><a href="">Login</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main class="content main">
        <div>
            <div class="banner">
                <img src="/static/images/banner.jpg" alt="">
            </div>

            <div class="article-box">
                <article>
                    <a href="">
                        <img src="/static/images/musictrack.jpg" alt="vivy">
                    </a>
                </article>
                <article>
                    <a href="">
                        <img src="/static/images/musictrack.jpg" alt="gunjou">
                    </a>
                </article>
                <article>
                    <a href="">
                        <img src="/static/images/musictrack.jpg" alt="tabun">
                    </a>
                </article>
                
            </div>
        </div>
    </main>
</body>
</html>