<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vivy</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://unpkg.com/vue@3.0.5/dist/vue.global.js"></script>
</head>
<body>
    <header>
        <div class="content">
            <div id="logo">
                <h1>Logo</h1>
            </div>
            <nav>
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">Library</a></li>
                    <li><a href="">Login</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main class="content main">
        <div class="article-box">
            <div class="track">
                <h1>Now Playing</h1>
                <img src="/static/images/musictrack.jpg" alt="">
            </div>
            <div class="categories">
                <ul>
                    <li><a href="">Tracks</a></li>
                    <li><a href="">Playlist</a></li>
                    <li><a href="">Likes</a></li>
                    <li><a href="">Albums</a></li>
                    <li><a href="">Artists</a></li>
                    <li><a href="">Genre</a></li>
                </ul>
            </div>
        </div>
    </main>
</body>
</html>